.custom-btn {
  background: #832a9b;
  background: linear-gradient(
    90deg,
    rgba(131, 42, 155, 1) 0%,
    rgba(104, 87, 199, 1) 72%
  );

  color: #f1f1f1;
}
.custom-btn:hover {
  color: #f1f1f1;
  box-shadow: 3px 3px 5px #999;
}
.eye-btn {
  background-color: #91c8e4 !important;
}
.edit-btn {
  background-color: #ffde63 !important;
}
.delete-btn {
  background-color: #ea5b6f !important;
}

/* card css */

img{
  transition: all 0.3s;
}
.card:hover img{
  scale: 1.1;
  width: inherit;
  overflow: hidden;
}
